
h3{
    color: #000000;
    font-size: 25px;
}

.jumboff{
    color: inherit;
    background-color: #fff;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), 
    url(https://specials-images.forbesimg.com/imageserve/1059548518/960x0.jpg?fit=scale);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
}
 .gree {
     margin-top: 45vh;
     font-size: 4rem;
     color:black;
 }