{% extends 'base.html' %}
{% import 'macros.html' as macro %}   

<!-- styles block -->
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/business.css')}}">
{% endblock %}



<!-- Content block -->
{% block content %}

   <!-- TITLE -->
<div class="container">
        
                <div class="row">
                        <div class="col-md-4 col-lg-4">
                                     
                        </div>
                    
                        <div class="col-md-4 col-lg-4 boxess">
                                <h1>Abc News</h1>
                        </div>
                    
                        <div class="col-md-4 col-lg-4">
                                                 
                        </div>
                </div>
            
</div> 

    <!-- Lists of comic News Sources -->
  <div class="container">
    <div class="jumbotron jumboff">
        {{ macro.displaySourcesList(abc)}}

    </div>
    
  </div>
                     
                    
{% endblock %}  