{% extends 'base.html' %}

<!-- styles block -->
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/business.css')}}">
{% endblock %}



<!-- Content block -->
{% block content %}

<!-- TITLE -->

<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="headings">News<span>Highlights</span></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navnav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navnav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#index.html">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Cnn">Cnn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Bbc">Bbc</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Aljzeera">Aljzeera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/abc">abc</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

{% for new, img, des, pubAt,url in context%}

<div class="row">
  <div class="col-md-4 col-lg-4">

  </div>

  <div class="col-md-4 col-lg-4 boxess">
    <h1>Bbc NEWS</h1>
  </div>

  <div class="col-md-4 col-lg-4">

  </div>
</div>

</div>

<!-- Lists of Bbc News Sources -->
<div class="container">
  <div class="jumbotron jumboff">
    {{ macro.displaySourcesList(Bbc)}}

  </div>

</div>


{% endblock %}
